@model HotKeyModel
@{
    ViewData["Title"] = "Từ khóa hot";
}
<style>
    .hot-key {
        margin-top: 1px;
    }
</style>
<h1>Shopee</h1>
<div class="container-fluid">
    @foreach (var item in Model.Shopee?.data.items)
    {
        <a href="https://shopee.vn/search?keyword=@item.keyword" class="btn btn-outline-warning hot-key" target="_blank">@item.keyword</a>
    }
</div>
@*<hr />
<h3>Lazada</h3>
Comming soon*@
<hr />
<h3>Tiki</h3>
<div class="container-fluid">
    @foreach (var item in Model.Tiki?.data)
    {
        <a href="https://tiki.vn/search?q=@item.keyword" class="btn btn-outline-primary hot-key" target="_blank">@item.keyword</a>
    }
</div>
<hr />
<h3>Sendo</h3>
<div class="container-fluid">
    @foreach (var item in Model.Sendo?.result?.data)
    {
        <a href="https://www.sendo.vn/tim-kiem?q=@item.name" class="btn btn-outline-danger hot-key" target="_blank">@item.name</a>
    }
</div>
