@model ShopeeTopProductModel;
@{
    ViewData["Title"] = "Các sản phẩm hàng đầu trên Shopee";
}
<style>
    .hot-product{
        margin-top: 1px;
    }
</style>
<script>
    var categoryData = @Html.Raw(ViewBag.Json);
    function getProduct(id) {
            // var id = parseInt($(e.target).attr("data-item"));
            console.log(id);
            var items = [];
            $(categoryData[id].data).each(function (id, el) {
                items.push({ itemid: el.itemid, shopid: el.shopid });
            });
            console.log(items);
            LoadPartialViewWithAjax("#product-datatable-content", "/HotKey/ShopeeHotProductDetail", "POST", { item_shop_ids: items });
        };
</script>
<div class="container-fluid">
    @{ 
        var category = Model?.data?.categories;
    }
    @for(int i = 0; i < category?.Count(); i++)
    {
        var item = category[i];
        <button type="button" class="btn btn-outline-warning hot-product" onclick="getProduct(@i)">@(item.name) <small>(@item.sold)</small></button>
    }
</div> 
<div id="product-datatable-content" style="">

</div>
<script>
    
    //var paramesFilter = {};
    //LoadPartialViewWithAjax("#user-request-list", "/user-request-management/get-list-user-request", "POST", paramesFilter);
</script>
