@model int

<style>
    table{
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; 
        word-wrap:break-word; 
    }
    table.dataTable tbody th, table.dataTable tbody td{
        padding: 2px 2px;
    }
    tr[role=row].even{
    }
    tr[role=row].odd{
        background: #f9f9f9 !important;
    }
    tr[role=row]:hover{
        background: #f6f6f6 !important; 
    }
</style>
<div class="text-center">
    <table id="product-datatable" style="width:100%">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá <small>(VND)</small></th>
                <th>Số lượng</th>
                <th>Đã bán</th>
                <th>Lượt đánh giá</th>
                <th>Giảm giá</th>
                <th>Ngày đăng bán</th>
                <th>Ngày kéo dữ liệu</th>
                <th>Ngày cập nhật dữ liệu</th>
                <th>Bán bình quân/ngày</th>
                <th>Trang bán</th>
                <th>Danh mục</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    @{ 
        var url = "../product-manager/get-product";
        switch(Model)
        {
            case 1: url = "../product-manager/get-shopee-product"; break;
            case 2: url = "../product-manager/get-lazada-product"; break;
            case 3: url = "../product-manager/get-tiki-product"; break;
            case 4: url = "../product-manager/get-sendo-product"; break;
        }
    }
    var getProductUrl = '@url';
    $(function () {
        var table = $('#product-datatable').DataTable({
            "responsive": true,
            "dom": 'Bfrtip',
            "buttons": [
               'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "scrollX": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: getProductUrl,
                type: "POST",
                data: function (d) {
                    d._csrf = "<?= Yii::$app->request->getCsrfToken(); ?>";
                },
                dataFilter: function (data) {
                    var json = jQuery.parseJSON(data);
                    //console.log(json);
                    json.recordsTotal = json.recordsTotal;
                    json.recordsFiltered = json.recordsFiltered;
                    json.data = json.data;
                    return JSON.stringify(json);
                }
            },
            "columnDefs": [
                { width: 120, targets: 0, className: "text-center" },
                { width: 300, targets: 1, className: "text-left"},
                { width: 80, targets: 2, className: "text-right" },
                { width: 80, targets: 3, className: "text-right" },
                { width: 80, targets: 4, className: "text-right" },
                { width: 120, targets: 5, className: "text-right" },
                { width: 80, targets: 6, className: "text-right" },
                { width: 200, targets: 7, className: "text-center" },
                { width: 200, targets: 8, className: "text-center" },
                { width: 200, targets: 9, className: "text-center" },
                { width: 200, targets: 10, className: "text-right" },
                { width: 100, targets: 11, className: "text-center" },
                { width: 200, targets: 12, className: "text-left" },
            ],
            fixedColumns: true,
            "columns": [
                { "data": "productId" },
                { "data": null, render: function ( data, type, row ) {

                    return '<a href="' + data.url + '" target="_blank">' + data.name + '</a>';
                }
                },
                { "data": null, render: function ( data, type, row ) {
                    var price = numeral(data.price).format('0,0');
                    return price;
                }
                },
                { "data": "quantity" },
                { "data": "quantitySold" },
                { "data": "commentCount" },
                { "data": "discount"},
                { "data": "createdProductDateString" },
                { "data": "createdDateString" },
                { "data": "updatedDateString" },
                { "data": "average" },
                { "data": "siteName" },
                { "data": "categoryName" }
            ]
            });
    });
</script>