<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="connectString" value="Data Source=vinet.ddns.net,2020;Initial Catalog=CES_Crawl_Dev;Persist Security Info=True;User ID=cesadmin;Password=ces@2019"/>
  </appSettings>
</configuration>
