<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="connectString" value="Server=vinet.ddns.net;Port=3306;Database=cavoisho_crawl;Uid=admin;Pwd=123456;charset=utf8mb4;"/>
  </appSettings>
</configuration>
