<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="connectString" value="Server=94.237.76.21;Database=cavoisho_crawl;Uid=cavoisho_vlance;Pwd=T95w7WEBGPYs;" />
  </appSettings>
</configuration>